.App {
  text-align: center;
  height: 100%;
  position: relative;
}

.App-Filter {
  height: 100%;
  position: relative;
  background-color: #B71C1C;
}

.App-Map {
  height: 100%;
  position: relative;
}

.App-link {
  color: #61dafb;
}